html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 25rem;
  height: 28rem;
  background-color: white;
  position: relative;
  border-radius: 1%;
}

.frat {
  height: 5.9rem;
  width: 7.4rem;
  background-color: white;
  margin-top: 1rem;
  margin-left: 2rem;
}

.FRA {
  color: #3b8acf;
  font-size: 3rem;
  font-weight: bolder;
}

.frankfurt {
  font-size: 0.9rem;
  margin-top: -3rem;
  color: #bcbbb9;
}

.underscore {
  font-size: 6rem;
  width: 1rem;
  height: 2.3rem;
  margin-left: 11rem;
  margin-top: -16rem;
  color: #d3e6f4;
}

.amst {
  height: 5.9rem;
  width: 7.6rem;
  background-color: white;
  margin-left: 16rem;
  margin-top: -1.5rem;
}

.AMS {
  color: #3b8acf;
  font-size: 3rem;
  font-weight: bolder;
}

.amsterdam {
  font-size: 0.9rem;
  margin-top: -3rem;
  color: #bcbbb9;
  margin-left: 1rem;
}

.texts {
  display: flex;
  column-gap: 5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 12px;
  color: #b7b6b6;
  font-weight: 900;
}

.num1 {
  margin-top: -1.6rem;
  margin-left: 30.7px;
  font-weight: bolder;
}

.num2 {
  margin-left: 10rem;
  margin-top: -2rem;
  font-weight: bolder;
}

.num3 {
  margin-left: 17rem;
  margin-top: -2.2rem;
  font-weight: bolder;
}

.passenger {
  margin-left: 1.8rem;
  margin-top: 1.7rem;
  font-size: 12px;
  font-weight: 900;
  color: #b7b6b6;
}

.robert {
  margin-left: 1.8rem;
  margin-top: -0.6rem;
  font-size: 13px;
  font-weight: bolder;
}

.class {
  margin-left: 1.8rem;
  margin-top: 1.5rem;
  font-size: 12px;
  font-weight: 900;
  color: #b7b6b6;
}

.bus {
  margin-left: 1.8rem;
  margin-top: -0.8rem;
  font-weight: 900;
}

.departure {
  margin-left: 1.8rem;
  font-size: 12px;
  margin-top: 1.8rem;
  font-weight: 900;
  color: #b7b6b6;
}

.time {
  margin-left: 1.7rem;
  margin-top: -0.8rem;
  font-weight: 900;
}

img {
  margin-left: 11rem;
  margin-top: -16rem;
  width: 10rem;
  position: relative;
  top: -2rem;
}
